{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
  <title>Inspo Board</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Inspo Board</a></li>
      </ul>
      <ul>
        <li><a href="{% url 'index'%}">My Boards</a></li>
        <li><a href="{% url 'board_create'%}">Create New Board</a></li>
        <li><a href="{% url 'tags_index'%}">My Tags</a></li>
        <li><a href="{% url 'tags_create'%}">Create New Tag</a></li>
      </ul>
    </nav>
  </header>
  <main>{% block content %} {% endblock %}</main>
  <footer></footer>
</body>
</html>